<div class="skeleton-loader rounded-lg w-full h-48 mb-4">
  <div class="h-32 rounded-t-lg"></div>
  <div class="p-4">
    <div class="h-4 w-3/4 mb-2"></div>
    <div class="h-4 w-1/2"></div>
  </div>
</div>